*~

# do not ignore datfiles/index.in or datfiles/constitution or any new datfiles.

datfiles/africa
datfiles/america
datfiles/areas
datfiles/arith
datfiles/asia
datfiles/babies
datfiles/bard
datfiles/chinese
datfiles/collectives
datfiles/ed
datfiles/elements
datfiles/europe
datfiles/flowers
datfiles/greek
datfiles/inca
datfiles/latin
datfiles/locomotive
datfiles/Makefrag
datfiles/midearth
datfiles/morse
datfiles/mult
datfiles/murders
datfiles/poetry
datfiles/posneg
datfiles/pres
datfiles/province
datfiles/seq-easy
datfiles/seq-hard
datfiles/sexes
datfiles/sov
datfiles/spell
datfiles/state
datfiles/trek
datfiles/ucc
